Source: wazo-python-consul-packaging
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.4
X-Python3-Version: >= 3.9
Homepage: http://python-consul.readthedocs.org

Package: python3-consul
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-requests
Description: Python client for Consul.io - Python 3
 .
 Python client for Consul (http://www.consul.io/)
